@{
    ViewBag.bigtitle = "CustomOrder Management";
    ViewBag.smalltitle = "all Orders ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>Model Length</th>
            <th>Design Description</th>
            <th>Action</th>
        </tr>
    </thead>


</table>
@section Scripts {

    <h2>hi</h2>
    <script src="~/js/CustomOrder.js"></script>



}