@{
    ViewBag.bigtitle = "Order Management";
    ViewBag.smalltitle = "all Orders ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>Item</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>


</table>
@section Scripts {

    <h2>hi</h2>
    <script src="~/js/Order.js"></script>



}