@using ClothingBrandDashboard.Models
@model Login


<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                   @*  <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label> *@
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="text-center mt-3">
                <a href="#">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>