
@{
    ViewBag.bigtitle = "User Management";
    ViewBag.smalltitle = "All Users ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .dt-search {
            display: none;
        }

        .dt-length {
            display: none;
        }
    </style>
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">

            <div class="search-wrapper">
                <i class="fas fa-search" id="searchIcon"></i>
                <input type="text" id="customSearch" placeholder="Search...">
                <a href="/User/Create" class="btn btn-primary ms-2">Create</a>

            </div>
        </div>
    </div>
</div>

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>


</table>
@section Scripts {

    @* <h2>hi</h2> *@
    <script src="~/js/User.js"></script>



}